.uf-modal {
    .ant-confirm-btns,
    .ant-modal-footer {
        .ant-btn.ant-btn-lg {
            font-size: @uf-font-size-lger;
            padding: @btn-padding-base;
            height: @btn-height-base;
            border-radius: @border-radius-base;
        }
    }
}
