.uf-modal,
.uf-table-modal {
    .ant-modal-content {
        border-radius: @border-radius-base;
        .ant-modal-close-x {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
    }
    .ant-modal-header {
        background: @uf-header-bg;
        border-bottom: 0px;
        padding: 0px 16px;
        border-radius: 3px 3px 0px 0px;
        .ant-modal-title {
            line-height: 40px;
        }
    }
    .ant-confirm-btns, .ant-modal-footer {
        .ant-btn.ant-btn-lg {
            font-size: @uf-font-size-lger;
            // padding: @btn-padding-base;
            padding: 0px 20px;
            height: @btn-height-base;
            border-radius: @border-radius-base;
        }
    }
    .ant-modal-footer {
        border-top: 0px;
        padding: 6px 16px 18px 10px;
    }
}
// 修改默认footer样式，两个按钮交换位置
.uf-modal-default-footer .ant-modal-footer {
    overflow: hidden;
    & > .ant-btn {
        float: right;
        margin-left: 10px;
    }
}

// 自定义Dashboard样式
.uf-dashboard.ant-collapse > .ant-collapse-item {
    .ant-collapse-header {
        background-color: #eee;
        padding: 0 20px;
        line-height: 38px;
        cursor: default;
        &:hover {
            background-color: #eee !important;
        }
        &>i {
            display: none !important;
        }
    }
    .ant-collapse-content {
        padding: 0;
        border-top: 1px solid #e6e6e6;
        &>.ant-collapse-content-box {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}


/* 抽屉组件样式 **********************************************************************/

// 修改弹框样式，增加侧边拉出的弹框效果
.uf-drawer {
    position: absolute;
    padding-bottom: 0;
    top: unset;
    margin: unset;
    &.right {
        right: 0px;
        height: 100% !important;
        .ant-modal-close {
            left: -40px;
            right: unset;
            color: #fff;
        }
        &.zoom-enter.zoom-enter-active,
        &.zoom-appear.zoom-appear-active {
            animation-name: antMoveRightIn;
        }
        &.zoom-leave.zoom-leave-active {
            animation-name: antMoveRightOut;
        }
    }
    &.left {
        left: 0px;
        height: 100% !important;
        .ant-modal-close {
            right: -40px;
            left: unset;
            color: #fff;
        }
        &.zoom-enter.zoom-enter-active,
        &.zoom-appear.zoom-appear-active {
            animation-name: antMoveLeftIn;
        }
        &.zoom-leave.zoom-leave-active {
            animation-name: antMoveLeftOut;
        }
    }
    &.top {
        top: 0px;
        width: 100% !important;
        .ant-modal-close {
            bottom: -40px;
            top: unset;
            left: 0;
            color: #fff;
        }
        &.zoom-enter.zoom-enter-active,
        &.zoom-appear.zoom-appear-active {
            animation-name: antMoveUpIn;
        }
        &.zoom-leave.zoom-leave-active {
            animation-name: antMoveUpOut;
        }
    }
    &.bottom {
        bottom: 0px;
        width: 100% !important;
        .ant-modal-close {
            top: -40px;
            bottom: unset;
            left: 0;
            color: #fff;
        }
        &.zoom-enter.zoom-enter-active,
        &.zoom-appear.zoom-appear-active {
            animation-name: antMoveDownIn;
        }
        &.zoom-leave.zoom-leave-active {
            animation-name: antMoveDownOut;
        }
    }
    &.has-tl .ant-modal-content {
        padding-top: 40px;
    }
    &.has-ft .ant-modal-content {
        padding-bottom: 49px;
    }
    .ant-modal-content {
        position: relative;
        border-radius: 0;
        height: 100%;
    }
    .ant-modal-header {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .ant-modal-body {
        overflow: scroll;
        height: 100%;
    }
    .ant-modal-footer {
        border-top: 1px solid @border-color-split;;
        padding: 10px 16px 10px 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .ant-modal-close {
        position: absolute;
        font-weight: 100;
        .ant-modal-close-x {
            font-size: 24px;
        }
    }
}
// .uf-drawer-container {
// }