.uf-tree {
    position: relative;
    overflow: auto;
}
.uf-tree-search {
    text-align: center;
}
.uf-tree-treeSearchTip {
    line-height: 40px;
    font-size: 14px;
    color: #808080;
    text-align: center;
}
.uf-tree-ew-resize{
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}
/*树形图自定义图标*/
#uf-tree-demo-customized-icon .ant-tree-iconEle {
    position: absolute;
    left: 0;
    background: #fff;
}
#uf-tree-demo-customized-icon .ant-tree-iconEle::after {
    font-size: 12px;
    zoom: 1;
    display: inline-block;
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    color: #999;
    transition: transform .3s ease;
    margin-top: 2px;
    background: #fff;
}
#uf-tree-demo-customized-icon .ant-tree-iconEle.ant-tree-icon__docu::after {
    content: "\E664";
}
#uf-tree-demo-customized-icon .ant-tree-iconEle.ant-tree-icon__open::after {
    content: "\E699";
}
#uf-tree-demo-customized-icon .ant-tree-iconEle.ant-tree-icon__close::after {
    content: "\E662";
}
#uf-tree-demo-customized-icon .ant-tree-switcher {
    position: relative;
    z-index: 1;
    background: transparent;
}
#uf-tree-demo-customized-icon .ant-tree-switcher::after {
    opacity: 0;
}