.uf-form {
    &.uf-form-inline {
        margin: 15px 0;
        .ant-form-item {
            margin-bottom: 10px;
        }
    }
    &.uf-form-default {
        .ant-form-item {
            margin-bottom: 12px;
            .ant-form-item-label {
                line-height: 28px;
            }
        }
    }
    &.uf-form-small {
        .ant-form-item {
            margin-bottom: 6px;
            .ant-form-item-label {
                line-height: 22px;
            }
        }
    }
    .header {
        h5 {
            font-size: 14px;
            font-weight: 500;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eeeeee;
        }
    }
    .form-buttons {
        button:not(:last-child) {
            margin-right: 10px;
        }
    }
    // .ant-form-item-label {
    //     line-height: initial;
    // }
    .ant-form-item .ant-form-item {
        margin-bottom: 12px;
    }
}