.uf-form {
    &.uf-form-inline {
        margin: 15px 0 5px 0;
        .ant-form-item {
            margin-bottom: 10px;
        }
    }
    &.uf-form-default {
        .ant-form-item {
            margin-bottom: 12px;
            .ant-form-item-label {
                line-height: 28px;
            }
        }
        .ant-form-item-control {
            line-height: 28px;
        }
    }
    &.uf-form-small {
        .ant-form-item {
            margin-bottom: 6px;
            .ant-form-item-label {
                line-height: 22px;
            }
        }
    }
    .header {
        h5 {
            font-size: 14px;
            font-weight: 500;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eeeeee;
        }
    }
    .form-buttons {
        button:not(:last-child) {
            margin-right: 10px;
        }
    }
    // .ant-form-item-label {
    //     line-height: initial;
    // }
    .ant-form-item .ant-form-item {
        margin-bottom: 12px;
    }
}

/**Forms组件样式**/
.uf-forms-container {
    // 消除最后一行产生的下边距
    margin-bottom: -12px;
}
.uf-forms {
    width: 100%;
    padding-right: 60px;
    position: relative;
    .uf-form {
        width: 100%;
        &.uf-form-inline {
            margin: 0;
        }
    }
    .forms-icons {
        position: absolute;
        // height: 100%;
        width: 60px;
        right: 0px;
        top: 0px;
        .addFormIcon, .deleteFormIcon {
            // display: inline-block;
            // height: 50%;
            // width: 100%;
            float: left;
            font-size: 14px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .deleteFormIcon {
            margin-left: 5px;
        }
        // antd-buttons样式覆盖
        .ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}