// JSON 格式化输出后的样式
.json {
    white-space: pre-wrap;
    word-break: break-all;
    .string { color: #008000; }
    .number { color: #ff8c00; }
    .boolean { color: #0000ff; }
    .null { color: #ff00ff; }
    .key { color: #ff0000; }
}

// Layout.Sider 的样式
.ant-layout-sider-children {
    height: 100%;
}

// Layout.Sider 中 trigger 置于顶部样式（新增）
.top-trigger {
    &.ant-layout-sider-has-trigger {
        padding-bottom: 0;
        padding-top: 42px;
    }
    .ant-layout-sider-trigger {
        position: absolute;
        top: 0;
        height: 42px;
        background: #333;
        line-height: 42px;
    }
}

// 提醒样式
.remind {
    color: #f00;
    font-weight: 700;
    padding: 0 1px;
}