@import '~antd/dist/antd.less';

// ICONFONT
@icon-url               : 'http://uf.baidu.com/css/iconfont/font';

// 定制 Antd 组件样式

// Layout.Sider 的样式
.ant-layout-sider-children {
    height: 100%;
}
// Layout.Sider 中 trigger 置于顶部样式（新增）
.top-trigger {
    &.ant-layout-sider-has-trigger {
        padding-bottom: 0;
        padding-top: 42px;
    }
    .ant-layout-sider-trigger {
        position: absolute;
        top: 0;
        height: 42px;
        background: #333;
        line-height: 42px;
    }
}
