/* 自定义开始 */
html ul, html li, html p, html *, body ul, body li, body p, body * {
    margin: 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
body {
    height: 100%;
    background: #ECECEC;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    color: rgba(0, 0, 0, .65);
}
.panel {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.panel-heading {
    // font-size: 14px;
    // font-weight: 700;
    padding: 0 20px;
    display: inline-block; // 触发BFC
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    border-bottom: 1px solid #f7f7f7;
    // border: 1px solid #f7f7f7;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
}
.panel-body {
    padding: 20px;
}

#header {
    background-color: #fff;
    height: 80px;
    font-size: 14px;
    .logo {
        display: inline-block;
        line-height: 80px;
        vertical-align: top;
        padding-left: 48px;
        margin-right: 25px;
        img {
            width: 40px;
            margin-right: 8px;
            height: 80px;
            line-height: 80px;
        }
        .version {
            color: #108ee9;
        }
    }
    .nav {
        display: inline-block;
        line-height: 50px;
        li {
            line-height: 80px;
        }
    }
    .search {
        display: inline-block;
        float: right;
        line-height: 80px;
        padding-right: 50px;
        input {
            border: none;
            box-shadow: none;
            font-size: 14px;
        }
    }
}

#container,
.main {
    overflow: hidden;
    min-width: 950px;
}

.main {
    background: #fff;
    border-radius: 4px;
    padding: 24px 0;
    margin-bottom: 24px;
    margin: 24px 48px;
}

section {
    height: 100%;
}

.umpui-component {
    right: 0px;
    padding-left: 40px;
    padding-right: 60px;
    overflow: hidden;
    margin-left: -1px;
    border-left: 1px solid #e9e9e9;
}

.umpui-block {
    margin: 10px 0;
}

.umpui-title {
    margin-bottom: 26px;
}

.am-btn {
    font-size: 1rem !important;
}
