@import '~antd/dist/antd.less';

@import './common.less';

// ICONFONT
@icon-url               : 'http://uf.baidu.com/css/iconfont/font';

// 定制 Antd 组件样式
@text-color: rgb(51, 51, 51);

// 增加btn的mini模式
.uf-btn-mini {
    padding: 0 2px;
    font-size: 12px;
    line-height: 1.2;
    height: 18px;
    border-radius: @border-radius-base - 2px;
}
// 定义略大字体，以备多处使用
@uf-font-size-lger: @font-size-base + 1px;

// 组件title背景色
@uf-header-bg: #f3f3f3;
@table-header-bg: @uf-header-bg;
@collapse-header-bg: @uf-header-bg;

// breadcrumb
.ant-breadcrumb {
    background: @uf-header-bg;
}

.ant-upload.ant-upload-drag .ant-upload-drag-container {
    padding: 16px 10px;
}