@uf-list-padding: 8px;
@uf-list-border: 1px solid #e9e9e9;
@uf-list-bg: #f8f8f8;

.uf-list {
    .uf-list-label {
        font-weight: bold;
        padding: @uf-list-padding;
        text-align: right;
        &::after {
            content: ':';
            margin-left: 2px;
        }
    }
    .uf-list-value {
        padding: @uf-list-padding;
    }
    &.show-border {
        border: @uf-list-border;
        .uf-list-row:not(:last-child) {
            border-bottom: @uf-list-border;
        }
        .uf-list-label {
            border-right: @uf-list-border;
            &::after {
                content: '';
            }
        }
        .uf-list-value {
            border-left: @uf-list-border;
            margin-left: -1px;
        }
    }
    &.show-bg {
        background: @uf-list-bg;
        .uf-list-row {
            &:nth-child(odd) {
                background: #fff;
            }
        }
    }
}
